.blob {
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		background-color: rgb(255, 230, 230);
	}

	50% {
		background-color: rgb(252, 202, 202);
	}

	100% {
		background-color: rgb(255, 230, 230);
	}
}